@charset "utf-8";
.label-ul {
	list-style: none;
	padding: 0px;
	margin: 0.2rem 0px;
}

.label-ul li {
	display: inline-block;
	cursor: pointer;
}

.bar-nav h1.title {
	padding: 0rem 3.2rem;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.content-list {
	list-style: none;
	padding: 0px;
	margin: 0.2rem 0px;
}

.card-content-inner .label-ul li {
	display: inline-block;
	cursor: pointer;
	font-size: 0.5rem;
	background: #eeeeee;
	color: #32CD32;
	padding: 0.1rem 0.2rem;
	margin-left: 0.3rem;
}

.card-content-inner .label-ul li:first-child {
	margin-left: 0rem;
}

.markdown-text img {
	max-width: 100%;
}

.user_avatar {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-right: 5px;
}

.user_avatar_big {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 4px solid rgba(221, 221, 221, 0.69);
	;
}

.facebook-card .card-content {
	padding: .0rem .75rem;
}

.markdown-text {
	max-width: 100%;
}

.markdown-text p,
.markdown-text li {
	word-wrap: break-word;
}
.reply-number{
	font-size: 0.9rem;
}
.reply-box {
	display: none;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	padding: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 16;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	background-color: #f7f7f8;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.reply-box .item-inner{
	/*padding-right: 0.75rem;*/
    position: relative;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.35rem;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.reply-box .item-input {
	/*width: 100%;*/
	margin-top: -0.4rem;
	margin-bottom: -0.35rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex-shrink: 1;
	-ms-flex: 0 1 auto;
	-webkit-flex-shrink: 1;
	flex-shrink: 1;
	background: white;
    border-radius: 0.3rem;
}
.reply-box .item-btn {
	width: 20%;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 4px 0 4px 7px;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: top;
}
.reply-box .item-input input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    padding: 0 0 0 0.25rem;
    margin: 0;
    width: 100%;
    height: 1.8rem;
    color: #3d4145;
    font-size: 0.85rem;
    font-family: inherit;
}
/*.reply-box textarea {
	height: 200px;
	width: 100%;
	resize: none;
	border: none;
}*/

.clear:after {
	content: '';
	display: table;
	clear: both;
}

li.item-content .item-time {
	font-size: 0.7rem;
}

.user_name,
.user_time {
	display: inline-block;
	line-height: 30px;
}

.custom-lqu {
	top: -0.1rem;
}

.panel-login-listdiv {}

.public-content {
	height: calc(100% - 4.75rem - 15px);
	height: -webkit-calc(100% - 4.75rem - 15px);
	height: -moz-calc(100% - 4.75rem - 15px);
	width: 100%;
	resize: none;
	line-height: 1.4;
	padding-top: 0.4rem;
	padding-bottom: 0.35rem;
	border: none;
	padding-left: 0.5rem;
}

.disable {
	pointer-events: none;
	color: #afafaf;
	cursor: default
}

.panel {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 188, 212, 0.33)), to(rgb(3, 169, 244)));
}

.item-title {
	color: #5f646e;
	padding-right: 1.5rem;
}

.list-block .item-inner:after {
	display: none;
}

embed {
	display: none;
}

.fave {
	width: 55px;
	height: 50px;
	background: transparent url(img/twitter_fave.png) no-repeat;
	background-position: 0 -2px;
	cursor: pointer;
	background-size: 3342px 40px;
}


/*.fave:hover,.fave.active {
    background-position: -3519px 2px;
    -webkit-transition: background 1s steps(55);
    transition: background 1s steps(55)
}*/

.collect {
	background-position: -3519px -2px;
	-webkit-transition: background-position 1s steps(55);
	transition: background-position 1s steps(55);
	background-size: 3584px 45px;
}

.buttons-tab .tab-link .badge,
.menu-message .item-title .badge {
	position: absolute;
	top: .1rem;
	left: 63%;
	z-index: 100;
	height: .8rem;
	min-width: .8rem;
	padding: 0 .2rem;
	font-size: .6rem;
	line-height: .8rem;
	color: white;
	vertical-align: top;
	background: red;
	border-radius: .5rem;
	margin-left: .1rem;
}


/*user*/

.tabs li {
	list-style: none;
}


/*font*/

@font-face {
	font-family: "iconfont-custom";
	src: url('../fonts/iconfont.eot');
	/* IE9*/
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont-custom" !important;
	font-size: 1.2rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icontypraise2:before {
	content: "\e638";
}

.icon-icontypraise:before {
	content: "\e639";
}

.icon-icontychatbubble2:before {
	content: "\e637";
}

.icon-pinglun:before {
	content: "\e621";
}

.icon-guanyu:before {
	content: "\e70b";
}

.content-list .card-footer {
	padding: 0rem 0.75rem;
}

@-webkit-keyframes fave {
	0% {
		background-position: 0 2px
	}
	100% {
		background-position: -3519px 2px
	}
}

@keyframes fave {
	0% {
		background-position: 0 2px
	}
	100% {
		background-position: -3519px 2px
	}
}